name: Build Watch App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Build
      run: |
        xcodebuild build \
          -project MininSchedule.xcodeproj \
          -scheme "MininSchedule Watch App" \
          -destination 'platform=watchOS Simulator,name=Apple Watch Series 9' \
          -configuration Release \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO
